{% extends "blog/base.html" %}

{% block content %}
<h1>About</h1>
<pre>
Thank you for checking out my blog application!

This is a simple blog application that lets users register, login/logout and write blog posts.

Users can also update their profile pictures and email adresses. Images are stored using 
the AWS S3 service.

If users forget their password, there is a reset password feature that will send you an 
email to reset your password.

By clicking on a user, you can see all the blog posts that user has written.
Posts can also be deleted, edited, and published but only by the author of the post.

Posts are saved as a draft before being published. User have this opportunity to
see what their post will look like before finalizing and publishing it.



</pre>
{% endblock %}