{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<article class="media content-section">
    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ object.author }}</a>

            {% if not object.date_published %}
            <small class="text-muted">Click 'Publish' to finish your post!</small>
            {% else %}
            <small class="text-muted">{{ object.date_published|date:"F d, Y" }}</small>
            {% endif %}

            {% if object.author == user %}
            <div>
                <a class='btn btn-secondary btn-sm mt-1 mb-1' href="{% url 'post-update' object.id  %}">Update</a>

                {% if not object.date_published %}
                <a class='btn btn-info btn-sm mt-1 mb-1' href="{% url 'post-publish' object.id  %}">Publish</a>
                {% endif %}

                <a class='btn btn-danger btn-sm mt-1 mb-1' href="{% url 'post-delete' object.id  %}">Delete</a>
            </div>
            {% endif %}
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
    </div>
</article>

<hr>

{% if user.is_authenticated %}
<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class=form-group>
            <legend class="border-bottom mb-4">Write a Comment</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-info">Post Comment</button>
        </div>
    </form>
</div>
{% endif %}


<div class="content-section">
    <h2>Comments</h2>

    {% for comment in object.comments.all %}

    {% if comment.approved_comment or user.is_superuser %}
    <div class="comment">
        <strong><a class="mr-1" href="{% url 'user-posts' comment.author.username %}">{{ comment.author }}</a></strong>
        <small class="text-muted ml-1"> {{ comment.date_posted }}</small>
        {% if not comment.approved_comment %}
        <a class="btn btn-outline-danger ml-3" href="{% url 'comment-delete' pk=object.id cpk=comment.id %}">Delete</a>
        <a class="btn btn-outline-info ml-3" href="{% url 'comment-approve' pk=object.id cpk=comment.id %}">Approve</a>
        {% endif %}

        <p>{{ comment.content|linebreaks }}</p>
    </div>
    {% endif %}
    {% empty %}
    <p>No Comments Here Yet</p>

    {% endfor %}

</div>

{% endblock %}